@import 'style.css';

.main {
  display: flex;
  height: 565px;
}

.main__left {
  width: 35%;
  padding: 65px 100px;
}

.main__left p {
  padding-bottom: 30px;
}

.main__right {
  width: 65%;
  padding: 30px 50px;
}

.form {
}

.form__box {
  padding: 15px 0px;
}

.form__label {
  margin-bottom: 10px;
}

.form__input {
  border: 3px solid var(--grey-2);
  font-size: 18px;
  padding: 12px;
  width: 90%;
}

.form__textarea {
  width: 90%;
  font-family: 'Noto Sans', sans-serif;
}

.form__button {
  padding: 10px 40px;
  background-color: black;
  color: white;
  font-weight: 500;
  margin-top: 10px;
}
