@import 'style.css';

.bottom {
  background-color: white;
  padding: 60px 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 320px;
}

.bottom__image {
  width: 300px;
  object-fit: cover;
  webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.bottom__image:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
  width: auto;
  height: auto;
  z-index: 1;
}
